.body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2.5rem !important;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.heading-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  /*font-family: 'Ubuntu', sans-serif;*/
}

.fp-button {
  font-family: "Ubuntu", sans-serif;
}
/* nav */
.navbar {
  padding: 0 0 5rem !important;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem !important;
  font-weight: bold;
  color: #ff4c68;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: 1rem;
}

.download {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 90%;
  transform: rotate(25deg);
  position: relative;
}

.mid-p {
  color: rgb(182, 182, 182);
  margin: 0 0 10% 0;
}
.mid-title {
  font-weight: bold;
}

.thriller {
  font-size: 10rem;
  color: #dd5a6e;
  margin: 10% 3% 5% 0;
}
.thriller:hover {
  color: #ff4c68;
}

/* 
testimonial sec */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #dd5a6e;
  color: #fff;
}

.cta {
  width: 100%;
  margin: 0 !important;
  padding: 5%;
  text-align: center;
  background-color: #dd5a6e;
  color: #fff;
}

.test-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #dd5a6e;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#salecards {
  padding: 5%;
}

.pricing-column {
  padding: 5%;
}
.pricing-cards {
  padding: 5%;
}

.features {
  padding: 5% 10%;
  background-color: #fff;
  position: relative;
}
.center2 {
  text-align: center !important;
}

@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0deg);
  }
  .heading-title {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .container {
    padding: 3% 1% 7% !important;
  }
}

#footer {
  padding-top: 10% !important;
}
