<%- include('partials/head.ejs')%>

  <body>
    <%-include('partials/navbar.ejs')%>
    <h1>The Home Page <%=4+5+1%></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla
      consectetur soluta consequatur, distinctio minima saepe deserunt dolores
      magni iusto quas laboriosam nihil eum architecto aliquam pariatur sit.
      Eaque, obcaecati?
    </p>
  </body>
</html>
